[Unit]
Description=My Telegram Bot Service
After=network.target

[Service]
User=root
WorkingDirectory=/etc/tool/check-invalid-file-bot
ExecStart=/etc/tool/check-invalid-file-bot/venv/bin/python /etc/tool/check-invalid-file-bot/CheckInvalidFile.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target